@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
	font-family: 'blockbecondensed';
	
	 /* Opening of file on not localhost  */
	src: url("fonts/BlockBe/blockbecondensed-webfont.woff2") format("woff2"),
	url("fonts/BlockBe/blockbecondensed-webfont.woff") format("woff"); 
  
	/* Opening on localhost */
	/* src: url("/resources/css/fonts/BlockBe/blockbecondensed-webfont.woff2") format("woff2"),
	url("/resources/css/fonts/BlockBe/blockbecondensed-webfont.woff") format("woff"); */
	font-weight: normal;
	font-style: normal; }

$orange: #e67e22;
$darkgrey: rgb(34, 34, 34);
$shadow: 0px 10px 30px rgba(31, 31, 31, 0.39);

/*=============Reset==============*/
body,
html {
	overflow-x: hidden;
	font-family: Roboto;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*=============Re-usables==============*/

p {
	margin: auto;
}

h1,
h2,
h3 {
	font-family: 'blockbecondensed';
	color: #fff;
	font-weight: 200;
}

h2 {
	font-size: 280%;
}

.scooter-icon {
	background: url('images/scooter.svg');
	height: 35px;
	width: 35px;
	margin: 5px;
	display: block;
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
	/* Other styles here */
}



.btn-primary,
.btn-primary:hover {
	background: rgb(87, 154, 255);

	padding: 20px 0px;
	border-radius: 10px;
	border: none;
	
	font-weight: 600;
}

.btn-custom,
.btn-custom:link,
.btn-custom:visited,
.btn-custom:hover,
.btn-custom:active {
	background-color: #e67e22;
	color: white;

	width: 330px;
	padding: 20px 0px;
	margin: auto;

	font-weight: 600;
}

// /*=============Navbar==============*/



.nav-btn,
.dropdown-item {
	font-size: 11px;
	font-weight: 600;
}

nav {
	img {
		height: 50px;
	}
}

// /*=============HEADER==============*/

header {
	width: 100%;
	height: 100%;
	.header-img {
		//Gradient does not work in IE so we have a backup incase user uses IE
		background-image: url("images/pizza-01.jpg");
		filter: progid:DXImageTransform.Microsoft.gradient(
				startColorstr='#000000',
				endColorstr='#ffffff',
				GradientType=0
			); /* IE6-9 */

		background-image: -webkit-gradient(
				linear,
				left top,
				left bottom,
				from(#00000041),
				color-stop(82%, #00000046),
				color-stop(82%, #ffffff)
			),
			-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))),
			url("images/pizza-01.jpg");
		background-image: linear-gradient(to bottom, #00000041 0%, #00000046 82%, #ffffff 82%),
			linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/pizza-01.jpg");
		background-size: cover;
		background-position: center;
		padding-right: 0;
	}
}

.card-search {
	margin-top: 20px;
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}

.card-header {
	width: 22vw;
}

.selection-home {
	list-style: none;

	li {
		width: 100%;
		margin-left: 5px;
	}

	li:first-child {
		margin: 0;
	}
}

.selected-btn {
	width: 130px;
	height: 100px;

	background: $orange;
	border: none;
	P {
		color: white;
	}
}

.selection-btn {
	width: 130px;
	height: 100px;
	background: #e0e0e0;
	border: none;
	i {
		font-size: 35px;
		margin: 5px;
	}
}

.selection-btn:first {
	margin-left: 5px;
}

.selection-btn:hover,
.selection-btn:active,
.selection-btn:focus {
	width: 130px;
	height: 100px;
	background: $orange;
	P,
	i {
		color: white;
	}
}

// /*=============SECTION PROMO==============*/
.section-promo {
	margin-top: 100px;

	img {
		width: 430px;
		display: block;
		-webkit-box-shadow: $shadow;
		box-shadow: $shadow;
	}
}

.promo-1,
.promo-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.promo-1 {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.promo-2 {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.promo-background {
	height: 480px;
	background: radial-gradient(ellipse at center, #575757 0%, #1d1d1d 99%);
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}

.restaurant-banner {
	margin-top: 120px;

	.sizer {
		width: 900px;
		.banner-container {
			height: 100%;
			background-image: -webkit-gradient(
					linear,
					left top,
					left bottom,
					from(rgba(70, 70, 70, 0.52)),
					to(rgba(117, 86, 19, 0.73))
				),
				url(/resources/css/images/restaurants-min.jpg);
			background-image: linear-gradient(to bottom, rgba(70, 70, 70, 0.52), rgba(117, 86, 19, 0.73)),
				url(/resources/css/images/restaurants-min.jpg);
			.btn-custom {
				background: rgb(125, 179, 74);
				width: 170px;
			}
		}
	}
}

/*=============SECTION NEWSLETTER==============*/

.section-newletter {
	margin-top: 450px;
	background: #333333;
	.text-grey p {
		font-size: 80%;
	}
}

.btn-send {
	background: rgb(233, 66, 66);
	height: 38px;
	width: 70px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	color: white;
	span {
		font-size: 120%;
	}
}

.send-form {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

// /*=============FOOTER==============*/

.footer {
	width: 100%;
	background: #1f1f1f;
}

.footer-list {
	li {
		font-size: 80%;
		margin: 20px;
		list-style-type: none;
		font-weight: 400;

		a {
			color: #858585;
			cursor: pointer;
			text-decoration: none;
		}
	}
}
