@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
  font-family: 'blockbecondensed';
  src: url("/resources/css/fonts/BlockBe/blockbecondensed-webfont.woff2") format("woff2"), url("/resources/css/fonts/BlockBe/blockbecondensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*=============Reset==============*/
body,
html {
  overflow-x: hidden;
  font-family: Roboto; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*=============Re-usables==============*/
p {
  margin: auto; }

h1,
h2,
h3 {
  font-family: 'blockbecondensed';
  color: #fff;
  font-weight: 200; }

h2 {
  font-size: 280%; }

.scooter-icon {
  background: url("/resources/css/images/scooter.svg");
  height: 35px;
  width: 35px;
  margin: 5px;
  display: block;
  filter: brightness(0) invert(1);
  /* Other styles here */ }

.text-grey {
  color: #5f5f5f; }

.btn-primary,
.btn-primary:hover {
  border-radius: 10px;
  background: #579aff;
  padding: 20px 0px;
  border: none;
  font-weight: 600; }

.btn-custom,
.btn-custom:link,
.btn-custom:visited,
.btn-custom:hover,
.btn-custom:active {
  background-color: #e67e22;
  color: white;
  width: 330px;
  padding: 20px 0px;
  margin: auto;
  font-weight: 600; }

.nav-logo {
  background-color: #222222;
  height: 80px; }

.nav-btn,
.dropdown-item {
  font-size: 11px;
  font-weight: 600; }

nav img {
  height: 50px; }

header {
  width: 100%;
  height: 100%; }
  header .header-img {
    background-image: linear-gradient(to bottom, #00000041 0%, #00000046 82%, #ffffff 82%), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/pizza-01.jpg");
    background-size: cover;
    background-position: center;
    padding-right: 0; }

.card-search {
  margin-top: 20px;
  box-shadow: 0px 10px 30px rgba(31, 31, 31, 0.39); }

.card-header {
  width: 22vw; }

.selection-home {
  list-style: none; }
  .selection-home li {
    width: 100%;
    margin-left: 5px; }
  .selection-home li:first-child {
    margin: 0; }

.selected-btn {
  width: 130px;
  height: 100px;
  background: #e67e22;
  border: none; }
  .selected-btn P {
    color: white; }

.selection-btn {
  width: 130px;
  height: 100px;
  background: #e0e0e0;
  border: none; }
  .selection-btn i {
    font-size: 35px;
    margin: 5px; }

.selection-btn:first {
  margin-left: 5px; }

.selection-btn:hover,
.selection-btn:active,
.selection-btn:focus {
  width: 130px;
  height: 100px;
  background: #e67e22; }
  .selection-btn:hover P,
  .selection-btn:hover i,
  .selection-btn:active P,
  .selection-btn:active i,
  .selection-btn:focus P,
  .selection-btn:focus i {
    color: white; }

.section-promo {
  margin-top: 100px; }
  .section-promo img {
    width: 430px;
    display: block;
    box-shadow: 0px 10px 30px rgba(31, 31, 31, 0.39); }

.promo-1,
.promo-2 {
  display: flex; }

.promo-1 {
  justify-content: flex-end; }

.promo-2 {
  justify-content: flex-start; }

.promo-background {
  height: 480px;
  background: radial-gradient(ellipse at center, #575757 0%, #1d1d1d 99%);
  box-shadow: 0px 10px 30px rgba(31, 31, 31, 0.39); }

.restaurant-banner {
  margin-top: 120px; }
  .restaurant-banner .sizer {
    width: 900px; }
    .restaurant-banner .sizer .banner-container {
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(70, 70, 70, 0.52), rgba(117, 86, 19, 0.73)), url(/resources/css/images/restaurants-min.jpg); }
      .restaurant-banner .sizer .banner-container .btn-custom {
        background: #7db34a;
        width: 170px; }

/*=============SECTION NEWSLETTER==============*/
.section-newletter {
  margin-top: 450px;
  background: #333333; }
  .section-newletter .text-grey p {
    font-size: 80%; }

.btn-send {
  background: #e94242;
  height: 38px;
  width: 70px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white; }
  .btn-send span {
    font-size: 120%; }

.send-form {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.footer {
  height: 400px;
  width: 100%;
  background: #1f1f1f; }

/*# sourceMappingURL=style.css.map */
